










<div class="card">
    <h5>About My Journey</h5>
    <p-tabView>
        <p-tabPanel header="S1" leftIcon="pi pi-calendar" tooltip="1972">

            

                <h4>If Life Gives You Banana , Make Banana shake </h4>
            
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/myimg.jpg">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
               
            </p-card>


        </p-tabPanel>
        <p-tabPanel header="S2" rightIcon="pi pi-inbox" tooltip="1974">
           
            
            <h4>Collage Doesnt Tich you everithing , So Dont Tek Shtudy Seriosli...  </h4>
            <h5>Stay chill , Stay Foolish</h5>

            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/degree.jpeg">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card> 
            

        </p-tabPanel>
        <p-tabPanel header="S3" leftIcon="pi pi-user" rightIcon="pi pi-star-fill" tooltip="1990">
            <h4>We Are Engineers , We Just Take the parts of code of other and show our engineering Skills of cut , copy , paste and do Magic !!!</h4>
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/office.jpeg">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card>
        </p-tabPanel>
    </p-tabView>
    </div>