.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: khaki;
}

::ng-deep .app-toolbar {
    background-color: chocolate;
}

.menuItem {
    background-color: chocolate;
}

.app-sidenav-container {
    flex: 1;
}

.app-sidenav-container {
    flex: 1 0 auto;
}

img {
    width: 60px;
    margin: 10px;
    border-radius: 10%;
}

::ng-deep .sidebar {
    color: brown;
    background-color: honeydew;
    border-radius: 1px solid black;
}